* {box-sizing: border-box;}
form{clear: both;}
main{width: 70%; margin-top: 150px; float: right;}

input[type=text]:focus {outline: none;}
input[type=text] {float: left; width: 130px; font-size: 16px; border: 0px;}

/* IDs */
#logo{width: 70px; height: 70px; margin-left: 100px;}
#message{height: 60px; width: 60px; margin-left: 20px; margin-right: 20px;}
#cart{height: 60px; width: 60px; margin-left: 20px; margin-right: 20px;}
#usuario{height: 60px; width: 60px; margin-left: 20px; margin-right: 20px;}

a.usuario-img.nav-link.dropdown-toggle.dropdown{padding: 0;}
nav.navbar{float: left;}
div.row{width: 700px; height: 100%;}

/* Classes */
.usuario-img{width: inherit; height: inherit;}
.logo-img{width: inherit; height: inherit;}

.sidebar{border: 1px solid; border-bottom: none; border-color: #999999; padding: 20px; margin-left: 80px; margin-right: 20px; height:100%; width:200px; background-color:#fff; position: fixed!important; overflow:auto; padding-top: 130px; float: left;}
.navbar{height: 100px; width:100%; background-color:#fff; position: fixed!important; z-index:1; border-bottom: 2px solid white; box-shadow: 0px 0px 5px 0px grey;}

.produto{display: inline-block; overflow: auto; margin-left: 20px; margin-bottom: 10px; padding: 10px; border: 2px solid; border-color: grey; border-radius: 10px; height: 400px; width: 20%;}
.img-produto{width: inherit; height: 200px;}
.descricao-produto{font-size: 20px;}
.parcela-produto{color: green;}
.preco-produto{color: #303030;}

.btn{float: right; background: white; background-size: cover; background-position: center;  border: none; padding-bottom: 20px; width: 25px; border-radius: 900px; height: 25px;}

.faixa-preco{padding-top: 50px; padding-bottom: 70px;}
.icon{width: inherit; height: inherit;}
.categoria{padding-top: 50px;}

.search{border: 1px solid grey; border-radius: 40px; padding: 10px; padding-left: 30px; width: 50%; margin-right: auto;}
.search-icon{width: 25px; margin-left: -13px; margin-top: -16px; }


/* Desktop */
@media only screen and (max-width: 992px){
   
   input[type=text] {float: left; width: 130px; font-size: 16px; border: 0px;}

   main{width: 70%;}

   #message{margin-right: 30px; margin-left: 10px; height: 35px; width: 35px;}
   #cart{margin-right: 30px; margin-left: 10px; height: 35px; width: 35px;}
   #logo{margin-right: 0; margin-left: 10px; height: 70px; width: 70px;}
   #usuario{margin-right: 30px; margin-left: 10px ; height: 35px; width: 35px;}

   .container{width: 100%;}
   .sidebar{margin-left: 0;}
   .navbar{overflow: auto;}
   .search{width: 65%; margin-left: 0; margin-right: auto;}
   .icon{width: inherit; height: inherit; margin-right: 0; margin-left: 0;}
   .row{width: 600px;}
}

/* Smartphone */
@media only screen and (max-width: 768px){
   
   input[type=text] {float: left; width: 130px; font-size: 16px; border: 0px;}

   main{width: 100%;}

   #message{margin-right: 5px; margin-left: 5px; height: 35px; width: 35px; display: none;}
   #cart{margin-right: 5px; margin-left: 5px; height: 35px; width: 35px; display: none;}
   #logo{margin-left: 0; height: 70px; width: 70px;}
   #usuario{margin-left: 5px; margin-right: 40px; height: 35px; width: 35px; display: none;}

   #dropdown-xs{}

   .sidebar{display: none;}
   .navbar{overflow: auto;}
   .search{width: 65%; margin-left: -5px; margin-right: -5px;}
   .icon{width: inherit; height: inherit; margin-right: 0; margin-left: 0;}
   .produto{margin: 10px; padding: 10px; border: 2px solid; border-color: grey; border-radius: 10px; height: 400px;}
   
}







